<main>

  <section>

    <app-item-search></app-item-search>

    <h3 class="section-title">Items</h3>

    <ul class="card-list" >
      <li class="card" *ngFor="let item of items">
        <div class="card-title">
          <a routerLink="/items/{{item.id}}">{{item.name}}</a>
        </div>
        <img class="card-image" src="../assets/img/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price}}</div>
          <div class="stock">
            <span>{{item.stockUrgency | stockStatus}}</span>
            <img class="icon" src="../assets/img/red-icon.png" alt="warning low stock" *ngIf="item.stockUrgency == 'STOCK_LOW'">
            <img class="icon" src="../assets/img/yellow-icon.png" alt="normal stock" *ngIf="item.stockUrgency == 'STOCK_MEDIUM'">
            <img class="icon" src="../assets/img/green-icon.png" alt="high stock level" *ngIf="item.stockUrgency == 'STOCK_HIGH'">
          </div>
        </div>
      </li>
    </ul>

    <button class="btn-create" routerLink="/items/new/add">Make new item</button>


  </section>






</main>
