<main>

<section >

    <h3 class="section-title">Add Item</h3>

    <div class="form-group">

      <form [formGroup]="createItemForm" (ngSubmit)="onSubmit()">

        <label>Name</label>
        <input class = "form-control" formControlName="name" placeholder="Name" type="text" required>
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"  class="alert alert-danger">
            <div *ngIf="name?.errors?.['required']">
              Name is required.
            </div>
          </div>


        <label>Description</label>
        <input type="textarea" id="description" class="form-control"   formControlName="description"
               placeholder="Description"
               [(ngModel)]="role"
               [maxlength]="maxChars"
               required>
          <p> Characters Remaining: {{maxChars-role.length}}/{{maxChars}}</p>
        <br/>
          <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="alert alert-danger">
            <div *ngIf="description?.errors?.['required']">
              Description is required.
            </div>
            <div *ngIf="description?.errors?.['maxlength']">
              Description must be smaller than 255 characters.
            </div>
          </div>


        <label>Price (€)</label>
        <input class = "form-control" formControlName="price"  placeholder="Price" type="number"  [min]="0.01"  required >
        <div *ngIf="price?.invalid && (price?.dirty || price?.touched)"  class="alert alert-danger">
          <div *ngIf="price?.errors?.['required']">
            Price is required. Provide a number
          </div>
          <div *ngIf="price?.errors?.['min']">
            Price cannot be below 0.
          </div>
        </div>


        <label>Amount of stock</label>
        <input class = "form-control" formControlName="amountOfStock" placeholder="Amount of stock" type="number" [min]="0" required >
          <div *ngIf="amountOfStock?.invalid && (amountOfStock?.dirty || amountOfStock?.touched)" class="alert alert-danger" >
            <div *ngIf="amountOfStock?.errors?.['required']">
            Amount is required. Provide a whole number
          </div>
        <div *ngIf="price?.errors?.['min']">
            Amount cannot be below 0.
        </div>
          </div>

        <button class = "btn" type="submit">Create Item</button>
        <button class = "btn" (click)="goBack()">Go Back</button>
      </form>
    </div>

  </section>



</main>
