<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>


<header>
  <div class="logo-group">
    <img src="../assets/img/order-icon.png" alt="order-icon">
    <span class="logo-title">&Ouml;RDER</span>
  </div>
  <nav role="navigation">
    <a href='#'>Items</a>
    <a href='#'>Nav #2</a>
    <a href='#'>Nav #3</a>
    <a href='#'>Nav #4</a>
  </nav>
</header>


<router-outlet></router-outlet>



<footer>
  <div class="logo-group">
    <img src="../assets/img/order-icon.png" alt="order-icon">
    <span class="logo-title">&Ouml;RDER</span>
  </div>
</footer>


</body>
</html>
